@charset "utf-8";

$colors: (
  'primary': #034abd,
  'offwhite': #ececec,
);


body {
  background: map-get($colors, 'offwhite');

  h1 {
    font-weight: 300;
  }
}

.btn {
  border-radius: 0;
  font-size: .8rem;
  padding: .75rem 1rem;
  text-transform: uppercase;
}

.line-item {

  .thumb {
    background: #FFFFFF;
    height: 150px;
    overflow: hidden;
    width: 150px;
  
    img {
      height: auto;
      max-width: 100px;
    }
  }
}


@each $color, $color_value in $colors {
  .#{$color} {
    background-color: $color_value !important;
  }

  .#{$color}-text {
    color: $color_value !important;
  }
}